.sconf_temp
.sconsign.dblite
config.log
*.dylib
*.o
*.os
*.pyc
*.so
python/lsst/pex/policy/policyLib.py
python/lsst/pex/policy/policyLib_wrap.*
python/lsst/pex/policy/version.py
tests/.tests
tests/DefaultPolicyFile_1
tests/PAFBadSyntax
tests/PAFtypes
tests/PolicyString_1
tests/Policy_1
tests/Policy_2
tests/Policy_3
tests/Policy_4
tests/testBadPAFWrite
tests/testDefaults
ups/pex_*.cfgc
